* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.prdDetails {
    background: #ffffff;
    margin-bottom: 150px;
}
.imgPrd {
    border: 1px solid #cecece;
    border-radius: 4px;
}
.prdTitle {
    background-color: #CB0017;
    color: #ffffff;
}
.btn-toolbar {
    float: left;
    margin-left: 100px;
}