.py-5 {
    background-color: #cecece;
    padding: 0 !important;
}
.row {
    justify-content: space-between;
}
.prodctTitle {
    background-color: #CB0017;
    margin-bottom: 20px;
    color: #ffffff;
}
/* .justify-content-between {
    flex-direction: column;
    justify-content: center;
} */
/* .align-self-center {
    justify-content: center;
} */
/* .mr-1 {
    text-align: center !important;
} */
/* .p-5 {
    padding: 48px 48px 0 48px !important;
} */
/* .card-footer, .d-flex, .justify-content-between {
    flex-direction: column;
    justify-content: center;
    text-align: center !important;
    color: #0a3251;
    font-weight: 600;
} */

/* .text-blue, .font-italic, .mb-0 {
    font-size: 13px;
    font-weight: bold;
    color: #0a3251;
    font-style: normal !important;
    padding-bottom: 15px;
} */
/* .align-self-center {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
/* .align-self-center:hover {
    color: #ff8b11;
} */
/* .font-italic {
    font-size: 18px;
    font-style: unset !important;
} */
.basket {
    width: 15px;
    height: 18px;
    /* position: absolute; */
    /* top: 16px; */
    /* bottom: 0%; */
    left: 17.5px;
    right: 0%;
     
}
/* .cart-btn:hover {
    background-color: #0a3251;
    padding-right: 10px;
} */
/* .cart-btn:hover .white {
    opacity: 1;
} */
/* .white {
   opacity: 0; 
} */

.sc-bdVaJa, .loJwMj {
    margin-bottom: 30px;
}
.btn, .btn-primary {
    padding: 0 50px;
}