.headerSearch {
   position: relative;
   height: 50px;
   padding-left: 13px;
}
.headerSearchForm {
    display: flex;
    flex-direction: row;
    /* width: 785px; */
    height: 50px;
}
#headerSearchInput {
    width: 485px;
    height: 50px;
    padding: 0 196px 0 25px;
    border: solid 1px #f5f5f5;
    border-radius: 6px;
    background-color: rgba(245,245,245,.3);
    color: #0a3251;
    outline: none;
}
.HeaderSearchBtn {
    background: transparent;
    border: none;
    width: 55px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    outline: none;
}
.HeaderSearchBtn img {
    width: 16px;
    height: 16px;
}
.searchDropdown {
    position: absolute;
    top: 0;
    right: 60px;
    /* height: 100%; */
    width: 125px;
    border: none;
}
.searchDropdownSelect {
    /* border: none; */
    height: 50px;
    /* line-height: 50px; */
    /* font-family: BPGMrgvlovani; */
    font-size: 12px;
    color: #0a3251;
    /* text-align: center; */
    padding-right: 30px;
    /* padding-left: 0; */
    cursor: pointer;
    border: solid 1px #f5f5f5;
    outline: none;
    background: transparent;
}
