.userProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 103px; */
    height: 50px;
    /* line-height: 50px; */
    cursor: pointer;
}
.userProfile img {
    width: 30px;
    height: 30px;
    /* line-height: 50px; */
}
.userProfile span {
    color: #0a3251;
    font-size: 13px;
    font-weight: bold;
}