.login {
    /* width: 271px; */
    /* height: 330px; */
    background-color: #cecece;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.off {
    display: none;
    width: 271px;
    height: 330px;
    background-color: #cecece;
    z-index: 9999;
    border-radius: 5px;

}
.logcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* height: calc (100% - 269px); */
    align-items: center;
    background-color: #0d518544;
    padding-bottom: 50px;
}
.locontadd {
    height: unset;
}
.form-control  {
    background-color: red;
    height: unset !important;
}