.navigation {
    width: 227px;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: 999;

}
.navigationHeader {
    width: 100%;
    height: 60px;
    background-color: #CB0017;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
Link {
    outline: none;
    text-decoration: none;
}
.fontStyle  {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.navigationHeader img {
    width: 20px;
    height: 20px;
}

.navigationlink {
    width: 59px;
    height: 24px;
    border-radius: 3px;
    background-color: #CB0017;
    font-size: 11px;
    text-align: center;
    line-height: 24px;
   padding: 10px 20px;
}
.navigationBody {
    width: 100%;
    height: 340px;
    background-color: #fff;
    font-size: 13px;
    font-weight: bold;
    color: #0a3251;
    padding: 0 15px;
}
.navigationList li {
    /* width: 197px; */
    height: 40px;
    border-bottom: solid 1px #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listIcons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
