.headerProfile {
    /* width: 350px;
    height: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.userwraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    /* height: 385px; */
}

