.headerTop {
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #f5f5f5;
}
.header {
    width: 100%;
    height: 69px;
    background-color: #ffffff;
    color: #0a3251;
    padding: 9px 0;
    /* position: fixed; */
    /* z-index: 9999999999999999999; */
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}