.footer {
    width: 100%;
    height: 200px;
    background-color: #CB0017;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
}
.footerContainer {
    width: 78%;
    display: flex;
    flex-direction: column;
}
.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.footerTitle {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 15px 0;
}
.footerTxt {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 12px;
}
.footerTxt span {
    margin-bottom: 5px;
}
.socialTitle {
    margin: 15px 0;
}
.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 25px;
}
.ftimg1 {
    width: 15px;
    height: 30px;
}
.ftimg2 {
    width: 30px;
    height: 30px;
}
.ftimg3 {
    width: 40px;
    height: 30px;
}
.footerAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    height: 65px;
}

