.headerBasket {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 103px; */
    height: 50px;
    cursor: pointer;
    
}
.headerBasket img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.basketTitle {
    font-size: 12px;
    color: #99a8b4;
}
.basketPrice {
    font-size: 14px;
    font-weight: bold;
    color: #0a3251;
    display: block;
}