* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial;
}

/* :root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
  } */
  body{
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainWhite) !important;
    color:var(--mainDark)!important;
  }
  .text-title{
    font-family:'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
  .text-blue{
    color:var(--mainBlue);
  }
  .tetxt-bright{
    color:var(--lightBlue)
  }
  .section {
    padding: 48px 0;
  }
  .text-capitalize{
    text-transform: unset;
  }
