.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    /* top: 69px; */
}
.slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.arrows {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-around;
    width: 100%;
} 
.arrBtn {
    width: 42px;
    height: 42px;
    background: #0a3251;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .5s;
    cursor: pointer;
}
.arrBtn img {
    width: 20px;
    height: 20px;
}
.arrBtn:hover {
    background: #CB0017;
}

.arrowsoff {
    display: none;
}