.Contact{
     
    height: 70%; 
    width: 40%;
    
  }
.contact-form{
  
 display: flex;
 justify-content: space-around;
 scroll-margin: 15px;
 
}
.contact-input{
  width: 150px;
}.contact-top{
  margin-top:50px;
}.div-height{
  height: 450px;
}